.hidden {
  display: none;
}

.header {
  padding: 0.5rem;
}

.divider {
  background-color: #666;
  height: 0.4rem;
  border-radius: 2px;
  border: 1px solid #777;
}

.notification-count-button {
  float: right;
  background-color: rgb(76, 153, 76);
  color: white;
  border-radius: 3px;
  border: 2px solid rgb(68, 170, 68);
  margin-top: 0.2rem;
}