#watchIcon {
  cursor: pointer;
}

#watchIcon:hover {
  opacity: 0.7;
}

#se_notifier {
  position: fixed;
  top: 0;
  cursor: pointer;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 17px;
  font-weight: bolder;
  color: black;
  display: none;
}

#se_notifier.se_error {
  background: lightcoral;
}

#se_notifier.se_notice {
  background: orange;
}

#se_follow_button {
  margin-top: 0.5rem;
  margin-left: 1rem;
  border-radius: 2px;
  cursor: pointer;
}